<section class=about-me>
    <h3 class="section-title">About Myself</h3>
    <div class="face-lockup">
        <div class="face-image"></div>
        <div class="icon-mouse">{% include icons/icon-mouse.html%}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    </div>

    <p>
        <strong>Hi! I'm Vuel and Welcome To My Personal Portfolio Website!</strong> <br>
        "I'm an accountant, teacher, web designer, web developer, and an entrepreneur. I love tinkering stuffs and bring ideas to life because I believe that ideas are cheap and execution is everything."
    </p>
</section>