<section class=about-me>
    <h3 class="section-title">About Myself</h3>
    <div class="face-lockup">
        <div class="face-image"></div>
        <div class="icon-pencil"></div>
        <div class="icon-mouse"></div>
        <div class="icon-browser"></div>
        <div class="icon-video"></div>
    </div>

    <p>
        <strong>sociis natoque penatibus et magnis </strong> dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
    </p>
</section>