<section id="clients" class="clients">
    <h3 class="section-title">Clients</h3>
        <div class="client-controls">
            <div class="back-button">{% include icons/icon-prev.html %}</div>
            <div class="next-button">{% include icons/icon-next.html %}</div>
        </div>    
            <div class="client-slides-container">
                <div class="client-slide client-slide--active">
                        <div class="client-profile-pic">
                            <img src="http://via.placeholder.com/128x128" alt="client-picture">
                            <strong class="client-name">JUAN DELA CRUZ</strong>
                            <em class="client-title">Aenean eu leo quam.</em>   
                        </div>
                                 
                        <div class="client-profile-description">
                            <p><strong>eu leo quam. Pellentesque ornare sem lacinia</strong>  quam venenatis vestibulum. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                            </p>
                        </div>
                </div>
                <div class="client-slide">
                        <div class="client-profile-pic">
                            <img src="http://via.placeholder.com/128x128" alt="client-picture">
                            <strong class="client-name">JUAN DELA CRUZ</strong>
                            <em class="client-title">Aenean eu leo quam.</em>   
                        </div>
                                 
                        <div class="client-profile-description">
                            <p><strong>eu leo quam. Pellentesque ornare sem lacinia</strong>  quam venenatis vestibulum. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                            </p>
                        </div>
                </div>
                <div class="client-slide">
                        <div class="client-profile-pic">
                            <img src="http://via.placeholder.com/128x128" alt="client-picture">
                            <strong class="client-name">JUAN DELA CRUZ</strong>
                            <em class="client-title">Aenean eu leo quam.</em>   
                        </div>
                                 
                        <div class="client-profile-description">
                            <p><strong>eu leo quam. Pellentesque ornare sem lacinia</strong>  quam venenatis vestibulum. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                            </p>
                        </div>
                </div>
                <div class="client-slide">
                        <div class="client-profile-pic">
                            <img src="http://via.placeholder.com/128x128" alt="client-picture">
                            <strong class="client-name">JUAN DELA CRUZ</strong>
                            <em class="client-title">Aenean eu leo quam.</em>   
                        </div>
                                 
                        <div class="client-profile-description">
                            <p><strong>eu leo quam. Pellentesque ornare sem lacinia</strong>  quam venenatis vestibulum. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                            </p>
                        </div>
                </div>
            </div>
            <div class="client-logo-container">
                <img class="client-logo client-logo--active" src="http://via.placeholder.com/200x100" alt="">
                <img class="client-logo" src="http://via.placeholder.com/200x100" alt="">
                <img class="client-logo" src="http://via.placeholder.com/200x100" alt="">
                <img class="client-logo" src="http://via.placeholder.com/200x100" alt="">
            </div>
        
</section>