<section class="contact">

    <h3 id="contact" class="section-title">Contact</h3>

    <div class="social-links">
        <a href="https://www.facebook.com/vuelguevara" target="_blank"> {% include icons/icon-facebook.html %} </a>
        <a href="https://www.linkedin.com/in/vuel-guevara-27a69a3a/" target="_blank"> {% include icons/icon-linkedin.html %} </a>
        <a href="https://github.com/vuelguevara" target="_blank"> {% include icons/icon-github.html %} </a>
    </div>

    <hr class="bar">
    <div class="my-email">
        <a href="mailto:vuelguevara@gmail.com">vuelguevara@gmail.com</a>
    </div>
</section>