<section class="work work--overflowx-hidden">
<h3 id="work" class="section-title">Work</h3>
<div class="work-belt">
    <div class="thumb-wrap">
            <div class="wrapper">
                    <div class="thumb-unit" style="background-image: url(/assets/img/work/proj-1/thumb.jpg)">
                        <div class="thumb-overlay"><strong>Pusa Manila</strong></div>
                        <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                    <div class="thumb-unit" style="background-image: url(/assets/img/work/proj-2/thumb.jpg)">
                            <div class="thumb-overlay"><strong>Vet Core</strong></div>
                            <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                    <div class="thumb-unit" style="background-image: url(/assets/img/work/proj-3/thumb.jpg)">
                            <div class="thumb-overlay"><strong>Bizzwerk</strong></div>
                            <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                </div>    
    </div>
    <div class="work-wrap">
            <div class="work-container">
                    <div class="work-return">{% include icons/icon-back.html %}</div>   
                    <h4 class="work-headline">Do Work</h4>
                    <div style="width: 600px; height: 500px; background:#ccc;">
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis.</p>    
                    </div>

                    <div style="width: 600px; height: 500px; background:#ccc;">
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis.</p>    
                    </div>

                    <div style="width: 600px; height: 500px; background:#ccc;">
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis.</p>    
                    </div>
                </div>    
    </div> 
</div>
</section>