<section class="work work--overflowx-hidden">
<h3 id="work" class="section-title">Work</h3>
<div class="work-belt">
    <div class="thumb-wrap">
            <div class="wrapper">
                    <div class="thumb-unit" data-folder="proj-1" style="background-image: url(/assets/img/work/proj-1/thumb.jpg)">
                        <div class="thumb-overlay"><strong>Printeety</strong></div>
                        <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                    <div class="thumb-unit" data-folder="proj-2" style="background-image: url(/assets/img/work/proj-2/thumb.jpg)">
                            <div class="thumb-overlay"><strong>Vet Core</strong></div>
                            <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                    <div class="thumb-unit" data-folder="proj-3" style="background-image: url(/assets/img/work/proj-3/thumb.jpg)">
                            <div class="thumb-overlay"><strong>Pet Adopt</strong></div>
                            <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
                    </div>
                </div>    
    </div>
    <div class="work-wrap">
            <div class="work-container">
                    <div class="work-return">{% include icons/icon-back.html %}</div>   
                    <h4 class="work-headline">Web Design</h4>
                    <div class="project-load"></div>
                    </div>
                </div>    
    </div> 
</div>
</section>