<section class="work">
<h3 id="work" class="section-title">Work</h3>

<div class="wrapper">
    <a href="#" class="thumb-unit">
        <div class="thumb-overlay">Pusa Manila</div>
        <div class="zoom-icon"></div>
    </a>
    <a href="#" class="thumb-unit">
            <div class="thumb-overlay">Vet Core</div>
            <div class="zoom-icon"></div>
    </a>
    <a href="#" class="thumb-unit">
            <div class="thumb-overlay">Bizzwerk</div>
            <div class="zoom-icon"></div>
    </a>
</div>



</section>