// About Me Styling
.about-me

    
    .face-lockup
        max-width: 780px
        +display(flex)
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

    @media (max-width: 650px)
        .face-lockup
            display: block
            text-align: center
            padding: 0

            div
                display: inline-block
            .face-image
                display: block
                background-position: center center
                background-repeat: no-repeat
                width: auto
                margin-bottom: 0
            [class^="icon-"]
                margin: 10px
        
        .icon-mouse
            display: none
            position: absolute
            top: 0
            left: 0
            z-index: -12
        .icon-browser
            display: none
            position: absolute
            top: 0
            left: 0
            z-index: -12
                
    .face-image
        +size(200px)
        background: url(/assets/img/myface.jpg)
        +order(2)

    [class^="icon-"]
        +size(100px)
        border-radius: 50%
        background: $bg-color
        border-radius: 50%
    
        &.icon-mouse
            +order(1)
        &.icon-browser
            +order(3)
    
    .wrapper
        max-width: 680px
        display: block
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

        &--small
            max-width: 452px

        &--no-padding
            padding: 0


        .logo
            max-width: 100px
            max-height: 100px
            margin: 0 0 0 10px

    @media (max-width: 690px)
        .wrapper
            max-width: 360px

            &--small
                max-width: 240px

            &--no-padding
                padding: 0

            .logo
                max-width: 45px
                max-height: 45px        

    .blurb
        max-width: 620px
        text-align: center
        margin: 50px auto
        padding: 0 15px
        font-size: 24px
        font-weight: 300

    @media (max-with: 650px)
        .blurb
            font-size: 30px

