// About Me Styling
.about-me
    .face-lockup
        max-width: 780px
        +display(flex)
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

    .face-image
        +size(200px)
        background: url(/assets/img/myface.jpg)
        order: 2

    [class^="icon-"]
        +size(100px)
        border-radius: 50%
        background: $bg-color
        border-radius: 50%
    
        &.icon-mouse
            order: 1
        &.icon-browser
            order: 3
    
    .wrapper
        max-width: 680px
        display: block
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

        &--small
            max-width: 455px

        &--no-padding
            padding: 0

        .logo
            max-width: 100px
            max-height: 100px
            margin: 0 0 0 10px

    .blurb
        max-width: 620px
        text-align: center
        margin: 50px auto
        padding: 0 15px
        font-size: 24px
        font-weight: 300

        
