// About Me Styling
.about-me

    
    .face-lockup
        max-width: 780px
        +display(flex)
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

    @media screen and (max-width: 650px)
        .face-lockup
            display: block
            text-align: center

            div
                display: inline-block
            .face-image
                display: block
                background-position: center center
                background-repeat: no-repeat
                width: auto
                margin-bottom: 30px
            [class^="icon-"]
                margin: 10px
            
                
    .face-image
        +size(200px)
        background: url(/assets/img/myface.jpg)
        order: 2

    [class^="icon-"]
        +size(100px)
        border-radius: 50%
        background: $bg-color
        border-radius: 50%
    
        &.icon-mouse
            order: 1
        &.icon-browser
            order: 3
    
    .wrapper
        max-width: 680px
        display: block
        margin: 0 auto
        +align-items(center)
        justify-content: space-around
        padding: 30px 0 50px 0

        &--small
            max-width: 452px

        &--no-padding
            padding: 0


        .logo
            max-width: 100px
            max-height: 100px
            margin: 0 0 0 10px

    @media screen and (max-width: 690px)
        .wrapper
            max-width: 235px        

    .blurb
        max-width: 620px
        text-align: center
        margin: 50px auto
        padding: 0 15px
        font-size: 24px
        font-weight: 300


