// Footer Styling

footer
    background: url(../img/header-image.jpg) center center
    background-size: cover
    color: white

    .main-nav
        a
            margin-right: 15px
            color: rgba(255,255,255,0.8)
            @extend %small-bold

            &:hover
                color: rgba(255,255,255,1)

    .logo
        path
            fill: rgba(255,255,255,0.9)

    .lockup
        padding: 30px 10px
        +clearfix

        .logo
            float: left
            margin-right: 30px
        .content-wrap
            float: right 


        .copyright
            margin: 0
            text-transform: uppercase
            font-size: 12px   
            color: rgba(255,255,255,1)