//Header Styling

.header
    height: 450px
    background: url(../img/header-image.jpg) center center
    background-size: cover

    .logo
        float: left
        margin: 10px 0 0 30px
        path
            fill: rgba(255,255,255,0.9)
            

    .main-nav 
        float: right
        padding: 10px 30px 0 0
        a
            display: inline-block
            margin: 30px
            color: rgba(255,255,255,.8)
            @extend %small-bold

            &:hover
                color: rgba(255,255,255,1)
    


    .hero-title 
        text-align: center
        font:
            size: 72px
            weight: 700
        color: white
        text-transform: uppercase
        letter-spacing: 0.05em
        margin: 0 0 20px 0
        padding-top: 160px
        
    
        .title-border
            display: inline-block
            padding: 0.2em .5em
            border: white solid 10px
        
    .kicker
        text-align: center
        @extend %small-bold
        letter-spacing: 0.05em
        color: white
        line-height: 1

@media (max-width: 640px)
    .header
        height: 320px  
        .logo
            position: absolute
            margin: 0
            padding: 20px 0 0 0
            left: 50%
            -webkit-transform-origin: 50% 0
            transform-origin: 50% 0
            -webkit-transform: translateX(-50%) 
            transform: translateX(-50%) 

        .main-nav
            float: none
            text-align: center
            padding: 90px 0 20px 0

            a
                margin: 5px

        .hero-title
            padding-top: 0
            font-size: 48px

            .title-border
                padding: 10px 20px
                border: white solid 5px
