.work
    background-color: rgba(0,0,0,.1)       

    &--overflowx-hidden
        overflow-x: hidden

    .work-belt
        width: 200%
        position: relative
        left: 0%
        +transition


    .work-wrap, .thumb-wrap
        width: 50%
        float: left

    .thumb-unit
        display: block
        float: left
        width: 220px
        height: 170px
        margin: 0 0 5px 5px
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        position: relative
        overflow: hidden

        .thumb-overlay
            top: 0  
            background: fade-out(#000000,.5)
            display: inline-block
            color: white
            text-align: center
            +position(absolute, 100% 0px null 0px)
            height: 100%
            +transition
            cursor: pointer

            strong
                display: block
                padding: 20px
                color: white-space
                font-weight: 300
                font-size: 24px
                line-height: 1.2
                text-transform: uppercase
        
        .zoom-icon
            top: 0 
            display: inline-block
            color: white
            text-align: center
            +position(absolute, 100% 0px null 50px)
            height: 100%
            +transition
            cursor: pointer

        &:hover .thumb-overlay 
            +position(absolute, 0% 0px null 0px)

        &:hover .zoom-icon
            +position(absolute, 50% 0px null 50px)

    .work-container
        max-width: 600px
        margin: 0px auto
        

        .work-headline
            text-align: center
            font-weight: 300
            font-size: 24px
            line-height: 1.2
            text-transform: uppercase

        img
            max-width: 100%
            margin-bottom: 20px

        .work-return
            +size(50px) 
            cursor: pointer
            opacity: 0.3
            +position(absolute, 22px null null null)

            &:hover
                opacity: 1



        